<h1>{{name}}</h1>

<section>
    
    {{dep}}

</section>

<section class="form">
    <h3>Envie seu depoimento</h3>

    <form action="" method="post">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" name="name" class="form-control" id="name" required>
        </div>

        <div class="form-group">
            <label for="depoiment">Depoimento</label>
            <textarea name="depoiment" class="form-control" id="depoiment" rows="5"></textarea>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-danger">Enviar</button>
        </div>
    </form>
</section>